@value big from '../../breakpoints.css';


.shadowed {
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.7));
    filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.7));
}


.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.svgHolder {
	width: 375px;
	height: 375px;
	position: relative;
	/*border: 1px solid teal;*/
}



.needle {
	transform-origin: 0 0;
	position: absolute;
	width: 170px;
}

.needleImg {
	composes: shadowed;
	transform: translate(-40px, -33px);
}



svg {
	font-size: 18px;
	position: relative;
}


.circle {
	composes: shadowed;
	opacity: .3;
	width: 84%;
	height: 84%;
	background-color: white;
	position: absolute;
	z-index: 0;
	border-radius: 300px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 8%;
}

.buttonsForMobile {
	display: block;
}

.randomize, .close {
	composes: buttonsForMobile;
}

.close {
	margin-top: 22px;
}


.enter {
  	opacity: 0;
  	transform: translateX(-100%);
}

.enter.enterActive {
  	opacity: 1;
  	transform: translateX(0px);
  	transition: 500ms;
	transition-delay: 2s;
}

.leave {
	opacity: 1;
	transform: translateX(0px);
}

.leave.leaveActive {
	opacity: 0;
	transition: 500ms;
	transform: translateX(100%);

}

/**/

@media big {
	.svgHolder {
		width: 700px;
		height: 700px;
	}

	.buttonsForMobile {
		display: none;
	}

	.needle {
		width: 200px;
	}
}