.main {
	/*margin-bottom: 50px;*/

	padding: 50px 10px;
	background-color: black;
	box-shadow: 0px 9px 4px rgba(0,0,0,0.5);
}

.holder {
	/*padding-top: 33px;*/
}

.ui {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.share {

}


.label {
	composes: label from '../common/common.css';

}

.addButton {
	composes: button from '../common/common.css';
	width: 85px;
}

.main input {
	/*border: 2px solid black;*/

}

.addYour {
	pointer-events: none;
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
	/*position: absolute;*/
	transform: translate(8px, 32px);
}

.addYour p {
	padding-right: 6px;
}
