@value big from '../breakpoints.css';


.main{
	/*border: 1px solid red;*/
	display: flex;
	align-items: flex-end;
	margin-right: 8px;

}

.hearts {
	font-size: 12px;
	width: 85px;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.hearts i {

}

@media big {
	.hearts {
		width: 100px;
		font-size: 14px;
	}
}