@value colors: './colors.css';
@value raw_color from colors;

.main {

	font-size: 25px;


	display: flex;


	/*margin-top: 50px;*/
	align-items: flex-start;
	justify-content: center;
	cursor: pointer;
	transition: opacity .3s;
}

.holder {
	border: 2px solid red;
	padding: 5px 25px;
}


.mainDisable {
	composes: main;
	opacity: .1;
	cursor: default;
}



.list {
	display: flex;
	overflow: hidden;
}

.list li {
	position: relative;
}